@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinking-text {
  animation: blink 1s infinite;
  color: #ff0000;
  margin-top: 10px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes rotate-border-light {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.galaxy-border-glow {
  position: relative;
}

.galaxy-border-glow::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(90deg, transparent, #00b3ff, #0077ff, #00b3ff, transparent);
  background-size: 200% 100%;
  border-radius: 0.5rem;
  z-index: -1;
  animation: rotate-border-light 3s linear infinite;
  box-shadow: 0 0 15px 2px rgba(0, 179, 255, 0.5);
  filter: blur(0.5px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
}
